*{
margin: 0;
padding: 0;

}

header{
    margin-top: 20px;
    background-color: rgb(81, 26, 112);
    width: 100%;
    height: 200px;
    border-radius: 50px 50px 50px 50px;
    opacity: 90%;
    box-shadow: 20px 20px 20px 20px  rgb(189, 137, 209);
    display: flex;
    justify-content:space-around;
    
}
.logo{
background-color: rgb(60, 60, 155);
width: 50px;
height: 50px;
margin-top: 30px;


}

.titulo{
    background-color: rgba(135, 83, 184, 0);
    width: 30%;
    height: 30px;
    margin-top: 30px;
   
   

}
.textotitulo{
    color: rgb(8, 7, 7);
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 7px;
    text-shadow: 20px 20px 20px color  rgb(31, 31, 116)
}
.boton{
background-color:transparent;
width: 50px;
height: 50px;
margin-top: 30px;


}

.botoningreso{
    color: aliceblue;
    font-size: 20px;
    border: 1px solid white;
    padding: 5px;
}

.botoningreso:hover{
    color: rgb(3, 0, 5);
    font-size: 30px;
    border: 1px solid rgb(59, 4, 61);
    padding: 10px;
}

.navegador{

    margin-top: 20px;
    background-color: rgb(40, 16, 80);
    width: 100%;
    height: 70px;
  border-radius: 100px 100px 100px 100px;
    opacity: 90%;
    display: flex;
    justify-content: center; 
  padding-top: 20px;
}

nav li{

    display: inline;
    margin-right: 45px;
    
}

nav a{
    text-decoration: none;
    color: rgb(255, 253, 253);
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    
    
}

nav a:hover{
    text-decoration: underline;
    color: rgb(145, 230, 152);
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;

}

 .principal{

    background-color: rgb(82, 43, 82);
    width: 100%;
    height: 560px;
    border-radius: 10px 10px 10px 10px;
     }

   footer{

background-color: rgb(71, 35, 117);
width: 100%;
height: 100px; 
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 10px 10px 10px 10px;

}

  .ur{
    color: azure;
    font-size: 15px;
     }